<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="static/style.css
    "
      media="screen"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="content">
      <aside class="nav">
        <header>
          <h1>
            <a href=""></a>
          </h1>
          <div class="user_tools">
            <a href="">
              <div class="foto_small">
                <img class="logo" src="" />
              </div>
              <span class="span_nome">Projeto X</span>
            </a>
          </div>
        </header>
        <form class="input_form">
          <input type="text" placeholder="Buscar Item" />
        </form>
        <<nav>
          <ul class="nav_item">
            <li><a href="">Inicio</a></li>
            <li>
              <a href="">Documentos</a>
            </li>
            <li><a href="">Dashboard</a></li>
            <li><a href="">Histórico</a></li>
          </ul>
        </nav>
      </aside>
      <main class="container">
        <div class="container_title">
          <h2>Documentos de Texto</h2>
        </div>
        <div class="container_main">
          <div class="area_main">
            <form method="POST">
              <div class="filter">
                <label>Selecione o Nome</label>
                <select id="P2" name="P2">
                  <option>Fulano</option>
                  <option>Ciclano</option>
                  <option>Beltrano</option>
                  <option>Zezo</option>
                </select>
              </div>
              <div class="filter">
                <label>Selecione o Gênero</label>
                <select id="P1" name="P1">
                  <option>O Senhor</option>
                  <option>A Senhora</option>
                  <option>Todes</option>
                </select>
              </div>
              <div class="filter">
                <label>Selecione o Cargo</label>
                <select id="P3" name="P3">
                  <option>Estagiário</option>
                  <option>Coordenador</option>
                  <option>Diretor Executivo</option>
                  <option>Diretor Financeiro</option>
                  <option>Financeiro</option>
                  <option>RH</option>
                  <option>Tecnologia da Informação</option>
                </select>
              </div>
              <div class="filter">
                <label>Selecione o Órgão</label>
                <select id="P4" name="P4">
                  <option>GIT</option>
                </select>
              </div>
              <div class="filter">
                <label>Selecione o Endereço</label>
                <select id="P5" name="P5">
                  <option>3° Planeta do Sistema Solar</option>
                </select>
              </div>
              <div class="filter">
                <label>Selecione o CEP</label>
                <select id="P6" name="P6">
                  <option>58000-000</option>
                </select>
              </div>
              <div class="filter">
                <label>Selecione Cidade</label>
                <select id="P7" name="P7">
                  <option>João Pessoa</option>
                </select>
              </div>
              <div class="filter">
                <label>Selecione o Nome de quem envia</label>
                <select id="P8" name="P8">
                  <option>Beltrano</option>
                  <option>Ciclano</option>
                </select>
              </div>
              <div class="filter">
                <label>Selecione o Gênero de quem envia</label>
                <select id="P9" name="P9">
                  <option>O Senhor</option>
                  <option>A Senhora</option>
                  <option>Todes</option>
                </select>
              </div>
              <div class="filter">
                <label>Selecione o Cargo de quem envia</label>
                <select id="P10" name="P10">
                  <option>Estagiário</option>
                  <option>Diretor</option>
                </select>
              </div>
              <div class="filter">
                <label>Assunto</label>
                <input type="text" id="P11" name="P11" placeholder="Insira o Assunto do Documento"/><br>
                <label>Corpo do Texto</label>
                <input type="text" id="P12" name="P12" placeholder="Insira o texto do Documento">
              </div>
              <input class="button" class="button" type="submit" value="Registrar">
            </form>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
